<html>
<head>
{% block title %}Welcome!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                {{ form_start(form) }}
                {{ form_row(form.name) }} 
                {{ form_row(form.email) }}
                <button class="btn btn-primary">Valider</button>
                {{ form_end(form) }} 
            </div>
        </div>
    </div>

{% endblock %}